.marg {
  margin: 35px !important;
  margin-bottom: 5px !important;
}

.margin-minus {
  margin-bottom: -8px;

}



ion-icon {
  margin-top: 50px;
  font-size: 128px;
  color: var(--ion-color-primary);
}

.margin-bottom {
  margin-bottom: 50px !important;
}
