<ion-header>
  <ion-toolbar>
    <ion-buttons class="ion-padding-start" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>

    </ion-buttons>
    <ion-title>Reisekosten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-img crossorigin="anonymous" *ngIf="image?.dataUrl" [src]="image?.dataUrl"></ion-img>
      <ion-card-header>
        <ion-card-title>Ihre Dokumentendaten:</ion-card-title>
      </ion-card-header>

      <form action="" [formGroup]="reisekostenForm">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">

              <ion-item>
                <ion-label>Reisekosten-Nr.</ion-label>
                <ion-select interface="action-sheet" formControlName="travelCostsNumber">
                  <ion-select-option *ngFor="let template of templatesReisekopf" [value]="template.reisekopfnr">
                    {{template.reisekopfnr + ' - ' + template.bez1}}</ion-select-option>
                </ion-select>
                <span slot="error"
                  *ngIf="(!reisekostenForm.get('travelCostsNumber').valid && reisekostenForm.get('travelCostsNumber').touched) ||(!reisekostenForm.get('travelCostsNumber').valid && invalid) ">
                  Dieses Feld ist erforderlich.
                </span>
              </ion-item>
              <ion-item>
                <ion-label>Buchungsmuster-Nr.</ion-label>
                <ion-select interface="action-sheet" formControlName="BookingPattern">
                  <ion-select-option *ngFor="let template of templatesAuslagenmustnr" [value]="template.auslagenmustnr">
                    {{template.auslagenmustnr + ' - ' + template.bez1}}</ion-select-option>
                </ion-select>
                <span slot="error"
                  *ngIf="(!reisekostenForm.get('BookingPattern').valid && reisekostenForm.get('BookingPattern').touched) ||(!reisekostenForm.get('BookingPattern').valid && invalid) ">
                  Dieses Feld ist erforderlich.
                </span>
              </ion-item>


              <!-- Datetime in popover with cover element -->
              <ion-item>
                <ion-label>Belegsdatum</ion-label>
                <ion-input [value]="dateValue | date:'dd.MM.yyyy'"></ion-input>
                <ion-button fill="clear" id="open-date-input-2">
                  <ion-icon icon="calendar"></ion-icon>
                </ion-button>
                <ion-popover trigger="open-date-input-2" show-backdrop="false">
                  <ng-template>
                    <ion-datetime #popoverDatetime presentation="date" [value]="dateValue"
                      formControlName="documentDate" (ionChange)="dateValue = popoverDatetime.value">
                    </ion-datetime>
                  </ng-template>
                </ion-popover>

              </ion-item>
              <span class="error"
                *ngIf="(!reisekostenForm.get('documentDate').valid && reisekostenForm.get('documentDate').touched) ||(!reisekostenForm.get('documentDate').valid && invalid) ">
                Dieses Feld ist erforderlich.
              </span>
              <ion-item>
                <ion-label>Beleg-Nr</ion-label>
                <ion-input formControlName="documentNumber" type="text">
                </ion-input>
                <span slot="error"
                  *ngIf="(!reisekostenForm.get('documentNumber').valid && reisekostenForm.get('documentNumber').touched) ||(!reisekostenForm.get('documentNumber').valid && invalid) ">
                  Dieses Feld ist erforderlich.
                </span>
              </ion-item>

              <ion-item>
                <ion-label>Betrag</ion-label>
                <ion-input formControlName="amount" type="text">
                </ion-input>
                <span slot="error"
                  *ngIf="(!reisekostenForm.get('amount').valid && reisekostenForm.get('amount').touched) ||(!reisekostenForm.get('amount').valid && invalid) ">
                  Dieses Feld ist erforderlich.
                </span>
              </ion-item>

            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card>
  </div>

</ion-content>


<ion-footer>
  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <ion-button color="primary" (click)="captureImage()" fill="solid" expand="full" shape="round">
          <ion-icon name="camera" slot="start"></ion-icon>
          <ion-label>Foto Aufnehmen</ion-label>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center" size="12">
        <ion-button *ngIf="step ==0" color="primary" (click)="onSavePhoto() " fill="solid" shape="round" expand="full"
          [disabled]="!image?.dataUrl">
          <ion-icon name="analytics-outline" slot="start"></ion-icon>


          <ion-label> Analysieren </ion-label>
        </ion-button>
        <ion-button *ngIf="step ==1" color="primary" (click)="saveDocument()" fill="solid" shape="round" expand="full">
          <ion-icon name="save" slot="start"></ion-icon>
          <ion-label> Speichern</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>
